<ul class="list-group">

    <!--<li (click)="setCurrentCategoryAll()"
    routerLink="/products" 
    [class]="getAllCategoriesClass()">Tüm Ürünler</li>-->

    <li routerLink="/products">Tüm Ürünler</li>

    <li *ngFor="let item of categories" 
    (click)="setCurrentCategory(item)"
    routerLink = "/products/category/{{item.categoryId}}" 
    [class]="getCurrentCategoryClass(item)">
    {{item.categoryName}}</li>

</ul>

<h5 *ngIf="currentCategory">{{currentCategory.categoryName}} seçtiniz</h5>