<li *ngIf="cartItems.length>0" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Your Cart
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let item of cartItems">
        <a class="dropdown-item">
          <span class="badge bg-success">{{item.quantity}}</span>
          {{item.product.productName}}
          <span class="badge bg-danger" (click)="removeFromCart(item.product)">X</span>
        </a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item">Go to Cart</a></li>
    </ul>
</li>